header {
  background-color: rgb(194, 202, 211);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: ridge;
  border-color: green;
  border-width: 6px;
}

body {
  width: auto;
  height: auto;
  text-align: center;
  background-color: rgb(22, 219, 245);
}

.paragraph {
  background-color: rgb(194, 202, 211);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-style: groove;
  border-color: rgb(81, 240, 81);
  border-width: 6px;
}

.imgStyle {
  border-style: ridge;
  border-color: black;
  border-width: 6px;
  height: 500px;
}
